In [15]:
import pandas as pd

In [16]:
full_df_comparison = pd.read_pickle('full_df_comparison.pkl')
final_comparison = full_df = pd.read_pickle('C:/Users/PC Paul/Downloads/Hinnerk/Flight_Prediction/notebooks/final_comparison.pkl')
print(full_df_comparison.shape, final_comparison.shape)

combined = pd.merge(left = full_df_comparison, right = final_comparison, left_on = ['leg_no'], right_on = ['flt_leg'], how = 'outer')

(7914, 14) (7975, 12)

In [17]:
final_comparison.describe()

       ground_delay  block_delay     sched_gt       act_gt
count   7975.000000  7975.000000  7975.000000  7975.000000
mean      20.902821    15.790219    56.605643    67.729781
std       18.230939    19.441339    20.004435    37.099079
min      -12.000000   -31.000000     0.000000     0.000000
25%        9.000000     2.000000    45.000000    41.000000
50%       16.000000    12.000000    50.000000    63.000000
75%       29.000000    26.000000    65.000000    88.000000
max       72.000000    78.000000   145.000000   244.000000

In [18]:
full_df_comparison.describe()
#mit neuer definition von block delay

,leg_no,Sched Groundtime,Act Groundtime,block_delay,ground_delay,day_of_week,hour_of_day_dep,hour_of_day_arr,rows_to_drop_grounddelay
count,7.914000e+03,7914.000000,7914.000000,7914.000000,7914.000000,7914.000000,7914.000000,7914.000000,7914.000000
mean,2.720531e+08,56.643290,67.904473,919.886277,20.467652,3.065706,9.570887,11.134572,0.007582
std,9.736607e+04,20.000802,36.963782,1132.904007,17.661011,2.012530,4.180327,4.176712,0.086747
min,2.719556e+08,5.000000,1.000000,-1860.000000,-12.000000,0.000000,0.000000,3.000000,0.000000
25%,2.719823e+08,45.000000,41.000000,120.000000,9.000000,1.000000,6.000000,7.000000,0.000000
50%,2.720119e+08,50.000000,64.000000,720.000000,16.000000,3.000000,9.000000,11.000000,0.000000
75%,2.721028e+08,65.000000,88.750000,1560.000000,28.000000,5.000000,13.000000,14.000000,0.000000
max,2.723599e+08,145.000000,244.000000,4560.000000,70.000000,6.000000,23.000000,23.000000,1.000000

In [14]:
#full_df_comparison.describe()
# mit alter

,leg_no,Sched Groundtime,Act Groundtime,block_delay,ground_delay,day_of_week,hour_of_day_dep,hour_of_day_arr,rows_to_drop_grounddelay
count,7.819000e+03,7819.000000,7819.000000,7819.000000,7819.000000,7819.000000,7819.000000,7819.000000,7819.000000
mean,2.720534e+08,56.595473,68.037984,-5.305921,20.511574,3.066377,9.547768,11.112674,0.005372
std,9.760605e+04,19.932964,36.856556,6.867010,17.719856,2.012577,4.147679,4.141982,0.073098
min,2.719556e+08,5.000000,1.000000,-25.000000,-12.000000,0.000000,0.000000,3.000000,0.000000
25%,2.719822e+08,45.000000,42.000000,-10.000000,9.000000,1.000000,6.000000,7.000000,0.000000
50%,2.720119e+08,50.000000,64.000000,-6.000000,16.000000,3.000000,9.000000,11.000000,0.000000
75%,2.721047e+08,65.000000,89.000000,-1.000000,28.000000,5.000000,13.000000,14.000000,0.000000
max,2.723599e+08,145.000000,244.000000,15.000000,70.000000,6.000000,23.000000,23.000000,1.000000

In [21]:
combined.head()

,leg_no,ac_registration_x,Ac Type Code,Sched Groundtime,Act Groundtime,block_delay_x,ground_delay_x,day_of_week_x,hour_of_day_dep_x,hour_of_day_arr_x,...,ground_delay_y,flt_ac_type,block_delay_y,routing_y,sched_gt,act_gt,cc_cp_ca,day_of_week_y,hour_of_day_dep_y,hour_of_day_arr_y
0,272024970,ECLBAX,320,95.0,94.0,960.0,25.0,5.0,3.0,6.0,...,25.0,320,16.0,New Jessica_East Carmen,95.0,94.0,none,5,3,6
1,272022230,ECLBAX,320,75.0,120.0,360.0,15.0,5.0,8.0,10.0,...,15.0,320,6.0,East Carmen_South Nathaniel,75.0,120.0,both,5,8,10
2,272212848,ECLBAX,320,80.0,86.0,2220.0,51.0,5.0,11.0,14.0,...,51.0,320,37.0,South Nathaniel_East Carmen,80.0,86.0,none,5,11,14
3,271997824,ECLBAX,320,50.0,32.0,1920.0,43.0,5.0,15.0,17.0,...,43.0,320,32.0,East Carmen_Joneshaven,50.0,32.0,both,5,15,17
4,272337586,ECLBAX,320,45.0,38.0,1320.0,20.0,6.0,6.0,8.0,...,20.0,320,22.0,East Carmen_Joneshaven,45.0,38.0,none,6,6,8